
*.out
base/diy

B-programming-language/blc

B-programming-language/lib/libutil\.a

B-programming-language/lib/main\.o

*.o

*.a

*.asm

B-programming-language/src/blc

*.output

B-programming-language/src/y\.tab\.h

Entrega1/diy

Entrega1/lex\.yy\.c

Entrega1/y\.tab\.c

Entrega1/y\.tab\.h
*.zip
*.swp
Entrega2/.DS_Store
.DS_Store
Entrega2/diy
Entrega2/lex.yy.c
Entrega2/y.tab.h
Entrega2/y.tab.c
Entrega2/yyselect.c
